<template name="project">
  <h2>{{projectNumber}} - {{projectName}}
    <div class='btn-group pull-right'>
      <a href='/project/{{_id}}/update/add' class='btn btn-default'>
        <i class='fa fa-plus'></i>&nbsp;&nbsp;Add Update
      </a>
      <a href='/project/{{_id}}/edit' class='btn btn-default'>
        <i class='fa fa-pencil'></i>&nbsp;&nbsp;Edit Project
      </a>
    </div>
  </h2>
  <div class="panel panel-default">
    <div class='panel-heading'>
      <strong>Financial Information</strong>
    </div>
    <div class="panel-body">
      <p><strong>Total Fee: </strong>{{formatCurrency totalFee}}</p>
      <p><strong>BNIM Fee: </strong>{{formatCurrency bnimFee}}</p>
      <p><strong>Consultant Fee: </strong>{{formatCurrency consultantFee}}</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class='panel-heading'>
      <strong>Analysis at Cost</strong>
    </div>
  <div class="panel-body">

      <div class="col-md-12">
        <p><strong>Total Fee Remaining: </strong>{{formatCurrency totalFeeAtCost}}</p>
        <p><strong>BNIM Fee Remaining: </strong>{{formatCurrency bnimFeeAtCost}}</p>
        <p><strong>Consultant Fee Remaining: </strong>{{formatCurrency consultantFeeAtCost}}</p>
      </div>
      <div class="col-md-12 chart" id='chart' style='min-width:450px;'>
        {{analysisAtCostChart '#chart'}}
      </div>
      <div class="col-md-12 consultantchart" id='chart' style='min-width:450px;'>
      </div>

    </div>
  </div>
  <div class="panel panel-default">
    <div class='panel-heading'>
      <strong>Analysis at 30% Profit</strong>
    </div>
  <div class="panel-body">
      <p><strong>Total Fee Remaining: </strong>{{formatCurrency totalFeeAtProfit}}</p>
      <p><strong>BNIM Fee Remaining: </strong>{{formatCurrency bnimFeeAtProfit}}</p>
      <p><strong>Consultant Fee Remaining: </strong>{{formatCurrency consultantFeeAtProfit}}</p>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Update log</strong>
    </div>
    <ul class="list-group">
    {{#each updates}}
      <li class='list-group-item'><a href="/project/{{projectId}}/update/{{_id}}">{{date}}</a></li>
    {{/each}}
  </ul>
</div>

</template>
