<template name='projectEdit'>
  <h2>{{projectNumber}} - {{projectName}}</h2>
  <div class='panel panel-default'>
    <div class="panel-body">
      <form id='projectEdit'>
        <h3>Project Information</h3>
        <hr>
        <div class='form-group'>
          <label for="projectNumber">Project Number</label>
          <input type='number' step='any' class ='form-control' name='projectNumber' value="{{projectNumber}}">
        </div>
        <div class='form-group'>
          <label for="projectName">Project Name</label>
          <input type='text' class ='form-control' name='projectName' value="{{projectName}}">
        </div>
        <br>
        <h3>Fee Information</h3>
        <hr>
        <div class='form-group'>
          <label for="totalFee">Total Fee</label>
          <input type='Number' step="any" class ='form-control' name='totalFee' value="{{totalFee}}">
        </div>
        <div class='form-group'>
          <label for="bnimFee">BNIM Fee</label>
          <input type='Number' step="any" class ='form-control' name='bnimFee' value="{{bnimFee}}">
        </div>
        <div class='form-group'>
          <label for="consultantFee">Consultant Fee</label>
          <input type='Number' step="any" class ='form-control' name='consultantFee' value="{{consultantFee}}">
        </div>

        <div class='pull-right'>
        <a href="/project/{{_id}}" class="btn btn-default cancel">Back</a>
        <button type="submit" class="btn btn-default">Edit Project</button>

      </div>
      </form>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class="panel-body">
      <h3>Delete Project</h3>
      <hr>
      <p class='text-danger'>Warning, this cannot be undone!</p>
      <a href="#" class="btn btn-danger delete">Delete Project</a>
    </div>
  </div>
</template>
